/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */




html {
    text-align: center;
     padding: 3.3375% 3.4375%; /* 22px /2 = 11px 11/320=0.034375 */ 
    background-image:url('../img/bg.jpg');
     background-repeat:repeat;
    background-size:cover;
}


ol{
 text-align: center;
 padding: 0 .6em;
 position: relative;
}


#header img {
  text-align:center;
  max-width: 100%;
  max-height:100%;
}


h1{
 font-family: times, Times New Roman, times-roman, georgia, serif;
 font-size: 2.4em;
 line-height: 40px;
 color:  #ff0000;
 margin: 0 0 0 0;
 padding: 0 0 0 0;
                font-weight: 100;
}

@media only screen and (max-width: 767px) {

   h1 {
      font-size: 1.5em;
   }

   h2 {
      font-size: 1em;
      text-align:center;
   }

}



#page-wrap {
    margin: 60px auto; width: auto; height: auto;  padding: 50px; -moz-box-shadow: 0 0 20px #3fa1ff; -webkit-box-shadow: 0 0 20px #3fa1ff; box-shadow: 0 0 20px #3fa1ff; text-align: center;
    
    
}

#subtext{
  
  color: #fff;  
  margin-top:  0.5em;
  width: 100%;
  padding: 0.9375em;
  border-radius: 0.3125em;
  border-style: none;
  font-size: 0.9375em;
    
}



.container {
  max-width:100%;
  margin:0 auto;
  text-align:center;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
}
.head {
  -webkit-border-radius:6px 6px 0px 0px;
  -moz-border-radius:6px 6px 0px 0px;
  border-radius:6px 6px 0px 0px;
  background-color:#3fa1ff;
  color: white;
}
h2 {
  font-size: 1.7em;
}
input {
  margin-bottom:10px;
}
textarea {
  height:100px;
  margin-bottom:10px;
}
input:first-of-type
{
  margin-top:35px;
}
input, textarea {
  font-size: 1.5em;
  padding: 15px 10px 10px;
  font-family: 'Source Sans Pro',arial,sans-serif;
  border: 2px solid #3fa1ff;
  opacity: 0.5;
  background: black;
  text-align: center;
  color:  #0014ff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 80%;
  max-width: 900px;
}

::-webkit-input-placeholder {
   color: #fff;
}
:-moz-placeholder {
   color: #fff;  
}
::-moz-placeholder {
   color: #fff; 
}
:-ms-input-placeholder {  
   color: #fff;  
}
button {
  margin-top:15px;
  margin-bottom:25px;
  background-color:#2ABCA7;
  text-align: center;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #2ABCA7;
  -webkit-transition: .5s;
  transition: .5s;
  display: inline-block;
  cursor: pointer;
  width:30%;
  color:#fff;
  font-size: 1.8em;
}
button:hover, .button:hover {
  background:#19a08c;
}
/* media queries */
@media (max-width: 700px) {

  input, textarea {
    width: 70%;
  }
  button {
    width:70%;
  }
  body {
  padding-top:3px;
  } 

    h2 {
    font-size: 1em;
    text-align: center;
}
}
.message {
    font-family:'Source Sans Pro',arial,sans-serif;
    font-size:1.1em;
    display:none;
    padding-top:10px;
    padding-bottom:10px;
    background-color:#2ABCA7;
    width: 80%;
    margin:auto;
    color: #FAFAFA;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
}